*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)10%, rgba(0,0,0,0.5)10%), url(4.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: #000;
}

.icon{
    width: auto;
    float: left;
    height: 70px;
    display: flex;
    align-items: center;

}

.logo {
    color: #000;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    margin-top: 5px;
    float: left;
    padding-top: 15px;
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    }
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #3498db;
}
.menu {
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 250px; 
    margin-right: auto; 
}
.icon img {
    width: 45px; 
    height: auto; 
    position: relative; 
    top: 3px; 
    left: 20px; 
    margin-right: 10px;
}
.icon h4 {
    color: #fff; 
    font-size: 25px;
    padding-left: 50px;
}

.h2{
    color: #fff;
}

.search {
    width: 330px;
    float: right; 
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #3498db;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.swi{
    width: 20px;
    height: auto;
}

.btn{
    width: 100px;
    height: 40px;
    background: #3498db;
    border: 2px solid #3498db;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;
}

.hello {
    align-items: center;
    display: flex; 
    margin-left: 200px;
    font-size: 35px;
    text-align: center; 
    margin-top: 15px;
    font-size: 40px; 
    color: #fff; 
    font-weight: bold; 
}

.new {
    align-items: center;
    display: flex; 
    margin-top: 10px;
    margin-left: 450px;
    font-size: 25px;
    color: #000;
}

.new2 {
 
    width: 150px;
    height: 40px;
    
    
   
}

.new2 {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.btn2 {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 25px; 
    background-color: #3498db; 
    color: #ffffff;
    text-decoration: none;
    margin-left: 1200px;
    margin-top: 40px;
}

.new3 {
    align-items: center;
    
    display: flex; 
    margin-top: 10px;
    margin-left: 490px;
    font-size: 25px;
    color: #000;
}




.options {
    text-align: center;
    margin-top: 30px; 
}

.sul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
    display: inline-block; 
    margin-left: 450px;
}



.sul li {
    margin-bottom: 20px; 
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; 
}

.sul li:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.sul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.sul li a:hover {
    color: #3498db;
}


